<div class="center" role="main">
  <div class="left-pic">
    <img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" width="550" height="325">
  </div>
  <div class="right-info">
    <h1>Welcome to the Amusement Park!</h1>
  </div>
</div>
