<div class="left-pic" align="center">
  <img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" width="550" height="325">
</div>
<h1 align="center">Welcome to the Amusement Park!</h1>
