<div>
  <div class="left-pic" style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
  </div>
  <div class="right-info">

  </div>
  <h1 align="center">Welcome to the Amusement Park!</h1>
  <div class="center">
    <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
  </div>
</div>
