<div class="theme-showcase" role="main">

  <div class="left-pic">
    <img src="https://vignette.wikia.nocookie.net/ninjago/images/e/e7/MegaMonster44.png/revision/latest?cb=20150404123013" width="461px" height="259px">
  </div>

  <div class="right-info">
    <h1>Welcome to the Wali's Park!</h1>
    <div class="center">
      <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>