<% if !session[:user_id] %>
  <a class="navbar-brand" href="/signin" >Log In</a>
<% else %>
<%= link_to "LogMoiOut", logout_path, :method => :post, class: "navbar-brand" %>
<!-- pay attention to syntax above, this is how you apply a css style to a link_to helper -->
<% end %>
