
<div class="center">
  <img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" alt="roller coaster" class="home-pic">
  <h1>Welcome to the //Amusement Park!</h1>
</div>