<%= form_tag(signin_path) do %>

    <label>Your Name:</label><br>
    <%= text_field_tag :name %><br><br>
    
    <label>Your Password:</label><br>
    <%= text_field_tag :password %><br><br>
    
    <%= submit_tag "Sign In" %>

<% end %>
