<%= form_tag ('/signin') do %>
    <label>Your name: </label>
    <%= collection_select :user, :name, User.all, :name, :name, {prompt: "Please select your username from this dropdown"} %>
    <br><br>


    <label>Your password: </label><br>
    <input type="password", name="user[password]", id="password"><br><br>
    <input type="submit" value="Sign In">
<% end %>
