
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>



<%= select_tag "user[id]", options_from_collection_for_select(@users, :id, :name) %>



  <label for="password">Your Password: <br> <input class="form_control" type="text" name="password" id="password"></label><br>


  <input type=submit value='Sign In'>

<% end %>
