<h1>Sign In</h1>
<% form_tag signin_path do %>
<label>Your name:</label>
<%= select_tag "user_name", options_from_collection_for_select(User.all, "id", "name") %>
<label>Your password:</label>
<%= password_field_tag :'user[password]' %>
<%= submit_tag "Log In" %>
<% end %>
