<h1>Sign In!</h1>

<%= form_tag '/signin', method: 'post' do %>
  <%= select_tag 'user[name]', options_from_collection_for_select(@users, "id", "name") %>
  <%= password_field_tag 'password' %>
  <%= submit_tag "Sign In" %>
<% end %>
