<%= form_tag signin_path do %>
  <label>Name</label>
  <%= select_tag :'user[name]', options_from_collection_for_select(@users, "id", "name") %><br>
  <br>

  <label>Password</label>
  <%= text_field_tag :password %><br>
  <br>

  <%= submit_tag "Sign In" %>
<% end %>
