

<form action="/signin"  method="post">
  <label for="user_name">Name</label>
  <%= user_select %>
User password:<br>
  <input type="password" name="password" id="password">
  <input name="submit" type="submit" value="Sign In" id="Sign In">
</form>

