
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>

  <label for="user_name"> Your Name
    <select name="user[id]" id="user_name">
      <option value="">Please select your username from this dropdown</option>
      <%= options_from_collection_for_select(@users, :id, :name) %>
    </select>
  </label><br>

  <label for="password">Your Password: <br> <input class="form_control" type="text" name="password" id="password"></label><br>


  <input type=submit value='Sign In'>

<% end %>
