<h2>Please Sign in</h2>

<%= form_for @user, url: signin_path do |f| %>

  <label>Username:</label>
  <%= f.select :name, User.pluck(:name)%><br>

  <label>Password:</label>
  <%= f.password_field :password, id: "password" %><br>

  <%= f.submit 'Sign In' %>

<% end %>
