<center>
	<div class="panel-body">
        <%= image_tag 'rollercoaster.jpg', style: 'height:50%;width:50%;' %>
        <br> <br>
        <h1 class="text-primary">Welcome to the Amusement Park!</h1>
       </div>
</center>