<!-- content -->
<%= form_tag users_path do %>
  <div class="container"  role="main">

    <div class="form-group">
      <label for="user_name">Name</label>
      <br>
      <input class="form-control" type="text" name="user[name]" id="user_name" />
    </div>

    <div class="form-group">
      <label for="user_height">Height (in inches)</label>
      <br>
      <input class="form-control" type="number" name="user[height]" id="user_height" />
    </div>

    <div class="form-group">
      <label for="user_happiness">How happy are you? (1-5 scale)</label>
      <br>
      <input class="form-control" type="number" name="user[happiness]" id="user_happiness" />
    </div>

    <div class="form-group">
      <label for="user_nausea">How nauseous are you? (1-5 scale)</label>
      <br>
      <input class="form-control" type="number" name="user[nausea]" id="user_nausea" />
    </div>

    <div class="form-group">
      <label for="user_tickets">How many dollars are in your pocket?</label>
      <br>
      <input class="form-control" type="number" name="user[tickets]" id="user_tickets" />
    </div>

    <div class="form-group">
      <label for="user_admin">Check box if you are a theme park owner</label>
      <input name="user[admin]" type="hidden" value="0" /><input class="form-check-input" type="checkbox" value="1" name="user[admin]" id="user_admin" />
    </div>

    <div class="form-group">
      <label for="user_password">Password</label>
      <br>
      <input class="form-control" type="password" name="user[password]" id="user_password" />

    <div class="actions">
      <br/>
      <input type="submit" name="commit" value="Create User" class="btn btn-primary" data-disable-with="Create User" />
    </div>
  <% end %>
</div>
