
  <p><strong>Name:</strong> <%= @user.name %>/<p>

  <br><br>

  <p><strong>Tickets:</strong> <%= @user.tickets %></p>

  <br><br>

  <p><strong>Mood:</strong> sad</p>

  <br><br>

  <p><strong>Height:</strong> <%= @user.height %> inches</p>

  <br><br>

  <p><%= link_to "See attractions" attractions_path %></p>
