<h1>Welcome, <%= @user.name %>  </h1>

<% if @user.admin %>

<h3> ADMIN</h3>

<% else  %>
<h3>Mood:  <%= @user.mood %> </h3>

<h3> Height: <%= @user.height %> </h3>

<h3> Tickets: <%= @user.tickets %>   </h3>

<% end %>
