<h1> Welcome <%= @user.name %>! </h1>
<% @user.attributes.each do |attr_name|
  <% unless attr_name.eql?('password') || attr_name.eql?('password_digest')
  <ul>
    <li><%= attr_name %>: <%= @user.attr_name %></li>
  </ul>
<% end %>
