<% content_for :navbar do %>
  <a class="navbar-brand" rel="nofollow" data-method="delete" href="/session">Log Out</a>
<% end %>

<div>
  Name: <%= @user.name %>
</div>

<div>
  Tickets: <%= @user.tickets %>
</div>

<div>
  Mood: <%= @user.mood %>
</div>

<div>
  Height: <%= @user.height %>
</div>
