<h1>Please Enter Your User ID and Password</h1>
<%= form_for :user, url: '/signin' do |f| %>
	Username: <%= f.select :name, User.all.collect { |u| u.name } %><br></br>
  Password: <%= f.password_field :password, value: 'password' %><br></br>

  <%= f.submit "Sign In" %>
<% end %> 
