<h1>Welcome</h1>
<% if session[:user_id] %>
   <h1> <%= @user.name %> </h1>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
        <input type=submit value='logout'>
        <% end %>

   <%else%>
   <a class="navbar-brand" href="<%= login_path %>"/>Log in</a>
   <a class="navbar-brand" href="<%= new_user_path %>"/>Sign up</a>
<% end %>