<% content_for :navbar do %>
    <a class="navbar-brand" href="/users/new">Sign Up</a>
    <a class="navbar-brand" href="/signin">Log In</a>
<% end %>

"Bananas Foster to the Max! Welcome to the wly_cdgr Amusement Park!"