<center><h1>Welcome to the Amusement Park!</h1>
<img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
<h3><%= link_to "Sign Up", new_user_path %><br>
<%= link_to "Sign In", signin_path %></h3>
</center>
