<div style="width: 600px; margin: auto;">
  <img style="width: 600px;" src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
</div>
<h1 align='center'>Welcome to Hooper's Amusement Park!</h1>
<h3 align='center'>Ride at your own risk.</h3>
