<div class="center">
  <img style="width: 600px" src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
  <h1>Welcome to the //Amusement Park!</h1>
</div>
