

<img style=" width: 600px; margin-left: auto; margin-right: auto" src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
<h2>Welcome to the //Amusement Park!</h2>