<div class="form-group">
  <label for="name">Your name:</label>

  <select name="user[name]" id="user_name"><option value="">Please select your username from this dropdown</option>
  
  <% @users.each do | u | %>
    <%= code_here %>
  <% end %>

    <option value="Mary Elitch Long">Mary Elitch Long</option>
    </select>
</div>