<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
  </div>
  <h1 align="center">Welcome to the //Amusement Park!</h1>
</div> 
