<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="https://flatiron-amusement-park.herokuapp.com/">Home</a>
        
          <a class="navbar-brand" href="/users/new">Sign Up</a>
          <a class="navbar-brand" href="/signin">Log in</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container" role="main">
      <div>
  <div style="width: 600px;margin:auto">
    <img style="width: 600px" src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg">
  </div>
  <h1 align="center">Welcome to the //Amusement Park!</h1>
</div>
    </div>
  

</body>