/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

img {
  width: 600px;
  height: auto;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.center {
  text-align: center;
}

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}

.info {
  height: 290px;
  text-align: left;
}

th, td {
  padding: 8px;
  line-height: 1.4;
  vertical-align: top;
}

td.num, th {
  text-align: center;
}

th {
  border-top: 2px solid #ccc
}

td {
  border-top: 1px solid #ccc
}

// input.btn {
//   background-color: #6699ff;
//   width: auto;
// }

button, a.link, input.btn {
  background-color: #99ccff;
  border-radius: 5px;
  padding: 6px 12px;
  border: none;
  color: #222;
  width: auto;
  text-decoration: none;
  font-size: 120%;
}

input, select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  color: #222;
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input:focus {
  background-color: #ccffcc;
}
