// Place all the styles related to the Attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}