<img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" alt="Roller coaster" height="372" width="600" class="center">

<h2><center>Welcome to the //Amusement Park!</center></h2>

<%= link_to "Home", root_path %>
<%= link_to "Sign Up", new_user_path %>
<%= link_to "Log In", signin_path %>


