<img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" alt="Roller coaster" width="600" margin="0" class="center">

<h2><center>Welcome to the //Amusement Park!</center></h2>


