<h1>Amusement park</h1>

<img width="100%" class="rounded mx-auto d-block"  src="https://vignette.wikia.nocookie.net/coasterpedia/images/1/1a/AmusementPark.jpg/revision/latest/scale-to-width-down/800?cb=20101130191049" alt="park">
