<div>
    <div style='width: 1000px:margin:auto'>
    <img  style='width: 1000px' src='https://en.wikipedia.org/wiki/Amusement_park#/media/File:Cinderella_Castle_2013_Wade.jpg'>
</div>
<h1 align="center"> Welcome to the Magical Flatiron Amusement Park </h1>
</div>