<div class="center_align">
  <img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" id="welcome_image" >

  <h1>Welcome to the //Amusement Park</h1>
</div>