<h1>Attractions</h1>

<% if admin? %>
  <%= link_to("New Attraction", new_attraction_path) %>
<% end %>

<% if !@attractions.empty? %>
  <% @attractions.each do |attraction| %>
    <%= render attraction %>
    <% if admin? %>
      <%=link_to("Show #{attraction.name}", "/attractions/#{attraction.id}") %>
    <% else %>
      <%=link_to("Go on #{attraction.name}", "/attractions/#{attraction.id}") %>
    <% end %>
  <% end %>
<% else %>
  <h2>There are no attractions to display!</h2>
<% end %>