<a class="navbar-brand" href="<%= root_url %>"/>Home</a>
<% if logged_in? %>
  <a class="navbar-brand" href="<%= user_path(current_user) %>"/><%=current_user.name%>'s profile</a>
  <a class="navbar-brand" href="/logout"/ name="Log Out">Log Out</a>
<% else %>
  <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
  <a class="navbar-brand" href="/signin"/>Log In</a>
<% end %>
