<% if !logged_in?%>
    <a class="navbar-brand" href="<%= new_user_path %>"/>Sign Up</a>
    <a class="navbar-brand" href="<%= signin_path %>"/>Signin</a>
<% else %>
    <a class="navbar-brand" href="<%= logout_path %>"/>Logout</a>
<% end %>