<!DOCTYPE html>
<html>
  <head>
    <title>RailsAmusementPark</title>
  </head>
  <body>
      <div class="container">
      
     

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>