<h1>Edit Attraction</h1>
<%= render partial: 'form', locals:{attraction: @attraction, button_label: "Update Attraction"}, html:{:class => "edit_attraction"} %>
<%= link_to "Show", attraction_path(@attraction) %> | <%= link_to "Back", attractions_path %>
