<h1>Listing attractions</h1>

  <table class="table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td><strong>Tickets</strong></td>
        <td><strong>Details</strong></td>
      </tr>

  <% Attraction.all.each do |u| %>
      <tr>
	    <td><%= u.name %></td>
      <td><%= u.tickets %></td>
      <td> <%= link_to "Go on #{u.name}", attractions_path(u) %><br> <td>
      <% end %>

    </tbody>
  </table>

	<br>
	<br>
  <% if current_user.admin%>
  <%= link_to "New Attraction", attractions_new_path %><br>
  <% end %>
