<h1>Attractions</h1>

<%= @attractions.each do |ride| %>

  <% if @user.admin %>
    <p><%= link_to "Show #{ride.name}", attraction_path(ride) %></p>
  <% else %>
    <p><%= link_to "Go on #{ride.name}", attraction_path(ride) %></p>
  <% end %>

<% end %>

<% if @user.admin %>
  <p><%= link_to 'New Attraction', new_attraction_path %></p>
<% end %>
