<h1>All Rides</h1>

<% @attractions.each do |attraction| %>
  <% if @user.admin %>
    <p><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></p>
  <% else %>
    <p><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></p>
  <% end %>
<% end %>
<br><br>
<% if @user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %> 