<ul>
<% @attractions.each do |attraction| %>
  <% if @user.admin %>

    <li> <%= link_to "Show #{attraction.name}", attraction_path(attraction)  %>  </li>
    <% else  %>

    <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>

  <% end  %>
<% end  %>

<% if @user.admin  %>
  <%= link_to "New Attraction", new_attraction_path %>

<% end  %>

</ul>
