<% @attractions.each do |att| %>
  <ul>
    <a href='<%=attraction_path(att)%>'>Go on <%=att.name%></a>
  </ul>
<%end%>

<% if current_user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<%end%>