<h1>Listing attractions</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Tickets</strong></td>
      <td><strong>Details</strong></td>
    </tr>

    <% @attractions.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.tickets %></td>
          <% if current_user.admin %>
            <td><%= link_to "Show " + a.name, a %></td>
          <% else %>
            <td><%= link_to "Go on " + a.name, a %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if current_user.admin %>
  <p><a href="/attractions/new">New Attraction</a></p>
<% end %>
