<h1>Listing Attractions</h1>

<table style="width:100%">
  <% @attractions.each do |attr|  %>
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
  <tr>
    <td><%= attr.name %></td>
    <td><%= attr.tickets %></td>
    <td><%= link_to "Go on #{attr.name}", attraction_path(attr) %></td>
  </tr>
   <% end %>
</table>
