<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        <!-- content -->
    <div class="container"  role="main">
      <h1>Listing attractions</h1>

      <table class="table">
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <tr> 
            <td><strong>Name</strong></td>
            <td><strong>Tickets</strong></td>
            <td><strong>Details</strong></td>
          </tr>

          <%= @attractions.each do | a | %>
            <tr>
              <td>Chaos Exhilarator </td>
              <td>6</td>
              <td><a href="/attractions/26">Go on Chaos Exhilarator </a></td>
      </tr>
      <tr>
    
    <script src="" async defer></script>
  </body>
</html>