
Attractions
<ul>
  <% @attractions.each do |attraction| %>
    <li>
    <% link_to "Attractions", :controller => 'attractions', :action => 'show' %>
        <%= attraction.title %> </a>
    </li>
  <% end %>
</ul>

