
Attractions Index

<ul>
  <% @attractions.each do |attraction| %>
    <li>
        <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %> 
    </li>
  <% end %>
</ul>

<% if user.admin? %>
<%= link_to "New Attraction", new_attraction_path(attraction) %>
<%= link_to "Show Attraction", attraction_path(attraction) %>
<% end %>

