<% @attractions.each do |attraction| %>
  <p><%= attraction.name %> :
    <% if current_user.admin %>
      <%= link_to "Show #{attraction.name}", attraction_path(attraction) %>
    <% else %>
      <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
    <% end %>
  </p>
  <br>
<% end %>


<p><%= link_to 'New Attraction', new_attraction_path %></p>
