<h1> Rides: </h1>

<tr>
<% @attractions.each do |attraction| %>
  <td> <%= attraction.name %> </td>
  <td> <%= attraction.tickets %> </td>
  <td> <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %> </td>
<% end %>
</tr>
