<h1>Listing Attractions</h1>

<ul>
  <% @attractions.each do |attraction| %>
    <li><%= attraction.name %> - Requires <%= attraction.tickets %> Tickets - <%= link_to current_user.admin ? "Show #{attraction.name}" : "Go on #{attraction.name}", attraction_path(attraction) %></li>
  <% end %>
</ul>

<% if current_user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>
