<h1>Listing attractions</h1>
<table class="table">
  <thead>
    <tr>
      <td>
        <strong>Name</strong>
      </td>
      <td>
        <strong>Tickets</strong>
      </td>
      <td>
        <strong>Details</strong>
      </td>
    </tr>
  </thead>
<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.name %></td>
    <td><%= attraction.tickets %></td>
    <% if @user.admin %>
      <td><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></td>
    <% else %>
      <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
    <% end %>
  </tr>
<% end %>
</table>
