<% if !current_user.admin %>
  <% @attractions.each do |attraction| %>
    <p><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></p>
  <% end %>
<% else %>
  <% @attractions.each do |attraction| %>
    <p><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></p>
  <% end %>
  <p><%= link_to "New Attraction", new_attraction_path %> </p>
<% end %>