  <h1> Attractions </h1>
  <% if current_user.admin%>
    <%= render partial: 'admin', locals: {attractions: @attractions}%>
  <% else %>
    <ul>
      <% @attractions.each do |attraction| %>
      <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %><br>
     <% end %>
     </ul>
     <% end %>