
<% if current_user.admin %>
  <% @attractions.each do |a| %>
    <p> <%= link_to "Show #{a.name}", attraction_path(a) %></p>
  <% end %>
  <%= link_to "New Attraction", new_attraction_path %>
<% else %>
  <% @attractions.each do |a| %>
    <p> <%= link_to "Go on #{a.name}", attraction_path(a) %></p>
  <% end %>
<% end %>
