<h1>Attractions</h1>

<% if @user.admin == true %>
  <% @attractions.each do |ride| %>
    <li><%= link_to "Show #{ride.name}", attraction_path(ride) %></li>
  <% end %>
  <%= link_to "New Attraction", new_attraction_path %>
<% else %>
  <ul>
  <% @attractions.each do |ride| %>
    <li><%= link_to "Go on #{ride.name}", attraction_path(ride) %></li>
  <% end %>
  </ul>
<% end %>
