<h1>Attractions List</h1>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
  <% @attractions.each do |i|%>
  <tr>
    <td><%= i.name %></td>
    <td><%= i.tickets %></td>
    <td><%=link_to "Go on #{i.name}", attraction_path(i) %></td>
  </tr>
  <%end%>
</table>

<%= link_to 'New Attraction', new_attraction_path %>
