<h1>Attractions</h1>

<% if user_is_admin? %>
  <%= link_to "New Attraction", new_attraction_path %>
  <br>
  <ul>
    <% @attractions.each do |attraction| %>
      <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
    <% end %>
  </ul>
<% else %>
  <ul>
    <% @attractions.each do |attraction| %>
      <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
    <% end %>
  </ul>
<% end %>
