<% @attractions.each do |a| %>
  <%= a.name %>
  <% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
    <% @attractions.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.tickets %></td>
        <td><%= link_to "Go on #{a.name}", attraction_path(a) %></td>
      </tr>
    <% end %>


</table>
