<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Tickets</th>
    <th>Details</th>
  </tr>
  <% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.name %></td>
    <td><%= attraction.tickets %></td>
    <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "New Attraction", new_attraction_path %>
