<h1>Attractions</h1>
<table>
  <tbody>
    <tr>
      <td>Name</td>
      <td>Tickets</td>
      <td>Details</td>
    </tr>

    <% @attractions.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.tickets %></td>
        <td><a href="<%= attraction_path(a) %>">Go on <%= a.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
