<h1>Attractions#index</h1>
<p>Find me in app/views/attractions/index.html.erb</p>

<h2>Attractions</h2>

<ul>
    <%= @attractions.each do |attraction| %>
        <% if current_user.admin %>
            <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
        <% else %>
            <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
        <% end %>
    <% end %>
</ul>

<% if current_user.admin %>
<%= link_to "New Attraction", new_attraction_path %>
<% end %>
