<h1>Attractions#index</h1>
<p>Find me in app/views/attractions/index.html.erb</p>

<% @attractions.each do |attraction| %>
  <%= attraction.name %>

  <% if @current_user.admin %>
     <%= link_to "Show #{attraction.name}", attraction_path(attraction.id) %> <br>
  <% else %>
   <%= link_to "Go on #{attraction.name}", attraction_path(attraction.id) %> <br>
  <% end %>
 
<% end %>

<% if @user && @user.admin %>
<%#= button_to "New Attraction" %>
<%= link_to "New Attraction", new_attraction_path, :id => "open-contacts-dialog-btn", :method => :get %>
  
<% end %>