<% @attractions.each do |a| %>
<p><%= link_to "Go on #{a.name}", a unless is_admin %>
	<%= link_to " - Show #{a.name}", attraction_path(a) if is_admin %> <%= link_to " - Edit", edit_attraction_path(a) if current_user.admin %></p>
<% end %>

<%= link_to "New Attraction", new_attraction_path if is_admin %>