<h1> Listing attractions </h1>

<%@attractions.each do |attraction| %>
  <%=attraction.name%>
  <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %>
  <br><br>
<%end%>


<%= link_to_if(@user.admin, "Add Attraction", { controller: "attractions", action: "new" }) %>

