<h1>Attractions</h1>

<% if current_user.admin? %>
  <p><%= link_to "New Attraction", new_attraction_path %></p>
<% end %>

<table style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Available Actions</th>
    </tr>
  </thead>
  <tbody>
    <!-- I need the <td> element, or it messes up the table. -->
    <% @attractions.each do |att| %>
      <tr>
        <td><%= att.name %></td>
        <% if current_user.admin? %><!-- See if I can refactor this with a helper. -->
          <td><%= link_to "Show #{att.name}", attraction_path(att) %></td>
        <% else %>
          <td><%= link_to "Go on #{att.name}", attraction_path(att) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>