<h1>List of Attractions</h1>

<ul>
<% @attractions.each do |att| %>
  <li><%= link_to "Go on #{att.name}", attraction_path(att) %>
<% end %>
</ul>

<%= link_to "New Attraction", new_attraction_path %>
