<h1>Attractions Listing</h1>
<table>
    <tr>
<% @attractions.each do |attr| %>
<td><%= attr.name %> </td> <td>  <%= attr.tickets %> </td><td>    <%= link_to attr.name, attraction_path(attr) %>
</td>
</tr><% end %>

</table>
<% if logged_in? && current_user.admin %>
    <%= link_to 'New Attraction', new_attraction_path %>
<% end %>