<h1>All Attractions</h1>  

<% if !current_user.admin%>
  <ul>
    <% @attractions.each do |attraction|%>
      <li><%= link_to("Go on #{attraction.name}", attraction) %><li>
    <% end %>
  </ul>

<% elsif current_user.admin%>
  <ul>
    <% @attractions.each do |attraction|%>
      <li><%= link_to("Show #{attraction.name}", attraction) %></li>
    <% end %>
  </ul>
    <%= link_to("New Attraction", new_attraction_path)%>
<% end %>
