<%= link_to "New Attraction", new_attraction_path if admin?%>
<ul>
  <% @attractions.each do |attraction| %>
    <% if admin? %>
      <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
    <% else %>
      <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
    <% end %>
  <% end %>
</ul>