<% show_obj_info(@attraction).each do |x| %>
 <h3><%= x %></h3></br>
<% end %>
<% if current_user.admin == true %>
 <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
 <%= button_to 'Go on this ride', rides_path, params: { user_id: current_user.id, attraction_id: @attraction.id } %>
<% end %>