<%# Name: Chaos Exhilarator
Total Number of Users: 73
Ticket Requirement: 6
Height Requirement: 60 inches
Nausea Rating: 5
Happiness Rating: 1
Edit Attraction %>
<h3>Name: <%= @attraction.name %></h3>
<h3>Total Number of Users: <%= @attraction.users.count %></h3>
