<h1>Attraction Name:<%= @attraction.name %></h1>


<%= form_tag(method: :post, action: :create, controller: :rides) do %>
<%= hidden_field_tag(:att_id, @attraction.id) %>
<%= submit_tag "Go on this ride" %>
<% end %>
