<%# <button href="/users/:id">Go on this ride</button> %>
<%# <% binding.pry %> 
<%# <%= link_to 'Go on this ride',  ride_path  %>
<%=  %>
<%= button_to "Go on this ride", ride_path, :id => "open-contacts-dialog-btn", :method => :get %>