
<p><%= @attraction.name %></p>
<% if @user.admin %>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% end %>

<%= button_to "Go on this ride", new_ride_path , :params => {:user_id => session[:user_id], :attraction_id => @attraction.id}, method: :get %>
